.header {
    padding: 13px 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.542);
    backdrop-filter: blur(15px);
    z-index: 30;
    .nav-list {
 

        .nav-item {
            position: relative;

            &::after {
                content: "";
                width: 2px;
                height: 100%;
                position: absolute;
                right: -20px;
                top: 0;
                background: rgba(0, 16, 61, 0.12);
            }

            &:nth-last-child(1)::after {
                position: unset;
            }

            .nav-link.active {
                color: #EF7C00;
            }
        }


    }

}